#canvas_area {
    /* background-image: url("../img/canvasbg.jpg"); */
    border: 1px solid #cccccc;
    height: 700px;
    width: 100%;
    -moz-border-radius: 0.5em;
    border-radius: 0.5em;
}

.table_action {
    padding: 10px;
    width: 100%;
    text-align: right;
}

div.vis-button.vis-back,
div.vis-button.vis-connect,
div.vis-button.vis-delete,
div.vis-button.vis-edit {
    border: medium none!important;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4)!important;
    text-transform: uppercase!important;
    transition: all 0.4s ease 0s!important;
    border-color: transparent!important;
    color: #444!important;
    -moz-user-select: none!important;
    border-radius: 4px!important;
    cursor: pointer!important;
    display: inline-block!important;
    font-size: 14px!important;
    font-weight: 400!important;
    line-height: 1.42857!important;
    margin-top: 10px!important;
    margin-bottom: 25px!important;
    padding: 6px 12px!important;
    text-align: center!important;
    touch-action: manipulation!important;
    vertical-align: middle!important;
    white-space: nowrap!important;
}
div.vis-button.vis-back div.vis-label,
div.vis-button.vis-connect div.vis-label,
div.vis-button.vis-delete div.vis-label,
div.vis-button.vis-edit div.vis-label {
    margin-top: -7px!important;
}
div.vis-network div.vis-manipulation
div.vis-label, div.vis-network
div.vis-edit-mode div.vis-label{
    margin: -5px 15px 10px 25px;
}
div.vis-network div.vis-manipulation div.vis-separator-line {
    height:80%;
    margin: 0px 1px 5px 15px;
}

md-input-container{
    margin: 25px 0;
}

.os-resource{
    auto:overflow;
    max-height:500px;
}

.fa-lg {
    font-size: 2.0em
}
md-pagination-wrapper{
    width:100%;
}

.odd {
    background-color:#fff;
    margin: 10px 0px;
}
.even {
    background-color:#fff;
    margin: 10px 0px;
}