<!doctype html>
<html>
    <head>
        <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
        <meta content="utf-8" http-equiv="encoding">
        <title>OpenStack | HOT Generator</title>

        <script src="js/angular/angular.js"></script>
        <script src="js/angular/angular-animate.js"></script>
        <script src="js/angular/angular-aria.min.js"></script>
        <script src="js/angular/angular-messages.min.js"></script>
        <script src="js/angular/angular-material.min.js"></script>
        <script src="js/angular/angular-translate.min.js"></script>
        <script src="js/angular/angular-notify.js"></script>
        <script src="js/angular/angular-uuid.js"></script>
        <script src="js/angular/vis.js"></script>
        <script src="js/angular/angular-vis.js"></script>
        <script src="js/angular/ui-bootstrap-tpls-2.5.0.min.js"></script>

        <link href="css/angular-notify.css" rel="stylesheet">
        <link href="css/bootstrap.min.css" rel="stylesheet">
        <link href="css/vis.css" rel="stylesheet">
        <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.4/angular-material.min.css">

        <link href="css/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />

        <link href="css/hotgen.css" rel="stylesheet">
        <style type="text/css">

        </style>
    </head>

    <body ng-app="hotgen">
        <div class="page-header">
            <h1>{{ 'TITLE' | translate }}</h1>
            <p>{{ 'SUBTITLE' | translate }}</p>
        </div>

        <div class="row table_action">
            <div class="col-sm-2"></div>

            <div class="col-sm-7">
                <div ng-controller="TempModalCtrl" style="display:inline-block">
                    <md-button class="md-fab md-primary" ng-click="open()" aria-label="Create Template"><i class="fa fa-lg fa-file-text-o"></i></md-button>
                </div>
                <div class="md-menu"  ng-controller="DraftMenuCtrl" style="display:inline-block"  ng-cloak>
                    <md-menu>
                        <md-button class="md-fab" ng-click="openMenu($mdOpenMenu, $event)" aria-label="Manage Drafts">
                            <i class="fa fa-lg fa-floppy-o"></i>
                        </md-button>
                        <md-menu-content width="4" ng-mouseleave="closeMenu()">
                            <md-menu-item>
                              <md-button ng-click="save_draft()">
                                Save Draft
                              </md-button>
                            </md-menu-item>
                            <md-menu-item>
                              <md-button ng-click="load_draft()">
                                Load Draft
                              </md-button>
                            </md-menu-item>
                            <md-menu-divider></md-menu-divider>
                            <md-menu-item>
                              <md-button ng-click="import_draft()">
                                Import Draft
                              </md-button>
                            </md-menu-item>
                            <md-menu-item>
                              <md-button ng-click="export_draft()">
                                Export Draft
                              </md-button>
                            </md-menu-item>
                          </md-menu-content>
                    </md-menu>
                </div>
                <md-button ng-controller="ClearCanvasCtrl" ng-click="clear_canvas()" class="md-fab md-warn" style="display:inline-block" aria-label="clear canvas"><i class="fa fa-lg fa-trash"></i>
                </md-button>
                <!--<a class="btn btn-default" id="set_option_info"><i class="fa fa-fw fa-refresh"></i>{% trans "Renew choices information" %}</a>-->
                <input id="draft-file" type="file" style="visibility:hidden" />
                <input id="template-file" type="file" style="visibility:hidden" />
            </div>
            <div class="col-sm-3"></div>
        </div>

        <div class="col-sm-3" ng-controller="IconCtrl">
            <div>
               <div draggable ng-repeat="(reskey, resobj) in resource_types" class="os_resource" draggable="true" id="{{reskey}}">
                    <span class="fa-stack fa-lg" style="color: {{resobj.color}}">
                        <i class="fa fa-square-o fa-stack-2x"></i>
                        <i class="fa {{ resobj.class }} fa-stack-1x "></i>
                    </span>
                    {{resobj.name}}
               </div>
            </div>
        </div>

        <div class="col-sm-6">
            <div ng-controller="VisCtrl" id="canvas_area" droppable>
                <vis-network component="hotnetwork" data="data" options="options" events="events">
                </vis-network>
            </div>
        </div>

        <div ng-controller="FormModalCtrl"  class="md-padding" id="popupContainer" ng-cloak>
        </div>


        <script>
            angular_module = angular.module('hotgen', ['hotgen-utils', 'ngMaterial', 'ngMessages',
                    'ui.bootstrap',
                    'ngVis',
                    'pascalprecht.translate']);
        </script>

        <script src="js/hotgen/hotgen-translate.js"></script>
        <script src="js/hotgen/hotgen-utils.js"></script>
        <script src="js/hotgen/hotgen-components.js"></script>
        <script src="js/hotgen/hotgen-resources.js"></script>
        <script src="js/hotgen/hotgen.js"></script>
        <script src="js/hotgen/hotgen-canvas.js"></script>
        <script src="js/hotgen/hotgen-vis-network.js"></script>
        <script src="js/hotgen/hotgen-modals.js"></script>
    </body>
</html>
