<md-tabs md-dynamic-height md-stretch-tabs="always" md-border-bottom>
    <md-tab label="Details" >
        <md-content layout-padding>
            <p ng-if="$ctrl.message">{{$ctrl.message}}</p>
            <md-input-container class="md-block" flex-gt-xs ng-if="$ctrl.routerinterface.router">
                <label>Router</label>
                <input ng-model="$ctrl.routerinterface.router" type="text" readonly>
            </md-input-container>
            <md-input-container class="md-block" flex-gt-xs ng-if="$ctrl.routerinterface.port">
                <label>Port</label>
                <input ng-model="$ctrl.routerinterface.port" type="text" readonly>
            </md-input-container>
            <md-input-container class="md-block" flex-gt-xs ng-if="$ctrl.routerinterface.subnet">
                <label>Subnet</label>
                <input ng-model="$ctrl.routerinterface.subnet" type="text" readonly>
            </md-input-container>
      </md-content>
    </md-tab>

</md-tabs>
