<md-tabs md-dynamic-height md-stretch-tabs="always" md-border-bottom>
    <md-tab label="Details" >
        <md-content layout-padding>
            <p ng-if="$ctrl.message">{{$ctrl.message}}</p>
            <md-input-container class="md-block" flex-gt-xs>
                <label>Router</label>
                <md-select ng-model="$ctrl.routerinterface.router" ng-disabled="$ctrl.disable.router">
                    <md-option ng-repeat="router in routers" ng-value="router.id" >
                        {{router.name}}
                    </md-option>
                </md-select>
            </md-input-container>
            <md-input-container class="md-block" flex-gt-xs>
                <label>Port</label>
                <md-select ng-model="$ctrl.routerinterface.port" ng-disabled="$ctrl.disable.port">
                    <md-option ng-repeat="port in ports" ng-value="port.id" >
                        {{port.name}}
                    </md-option>
                </md-select>
            </md-input-container>
            <md-input-container class="md-block" flex-gt-xs>
                <label>Subnet</label>
                <md-select ng-model="$ctrl.routerinterface.subnet" ng-disabled="$ctrl.disable.subnet">
                    <md-option ng-repeat="subnet in subnets" ng-value="subnet.id" >
                        {{subnet.name}}
                    </md-option>
                </md-select>
            </md-input-container>
      </md-content>
    </md-tab>
</md-tabs>
