<md-tabs md-dynamic-height md-stretch-tabs="never" md-border-bottom>
    <md-tab label="Details">
        <md-content layout-padding>
            <div layout-gt-xs="row" >
                <md-input-container class="md-block" flex-gt-xs>
                    <label>Allocate Network</label>
                    <md-select ng-model="$ctrl.network.allocate_network">
                        <md-option ng-repeat="an in allocate_networks" ng-value="an.name">
                          {{an.name}}
                        </md-option>
                    </md-select>
                </md-input-container>
            </div>
        </md-content>
    </md-tab>
</md-tabs>