<md-dialog aria-label="Drafts" style="min-width: 400px;">
    <md-toolbar>
        <div class="md-toolbar-tools">
        <h2>{{ 'Saved Drafts' | translate }}</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
            <md-icon md-svg-src="css/img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
        </md-button>
        </div>
    </md-toolbar>
    <md-dialog-content>
          <md-content layout-gt-sm="row" layout-padding>
            <div>
                <md-subheader class="md-no-sticky">Last saved draft is {{latest_draft.time}}.</md-subheader>
                <md-list>
                    <md-list-item ng-repeat="draft in draft_list" ng-click="load(draft)">{{draft.time}}</md-list-item>
                </md-list>
            </div>
          </md-content>
    </md-dialog-content>
    <md-dialog-actions layout="row">
      <span flex></span>
      <md-button ng-click="cancel()" >
        {{ 'OK' | translate }}
      </md-button>
    </md-dialog-actions>
</md-dialog>