
        <md-input-container class="md-block">
            <label>Fixed IP Address</label>
            <input ng-model="$ctrl.network.fixed_ip_address" name="fixed_ip_address" ng-pattern="/^(?:(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.){3}(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)$/" />
            <div ng-messages="$ctrl.formReference.fixed_ip_address.$error" role="alert" multiple>
              <div ng-message="pattern" class="my-message">Please input a valid IP address.</div>
            </div>
        </md-input-container>

        <md-input-container class="md-block">
            <label>Floating IP Address</label>
            <input ng-model="$ctrl.network.floating_ip_address" name="floating_ip_address" ng-pattern="/^(?:(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.){3}(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)$/" />
            <div ng-messages="$ctrl.formReference.floating_ip_address.$error" role="alert" multiple>
              <div ng-message="pattern" class="my-message">Please input a valid IP address.</div>
            </div>
        </md-input-container>