<md-tabs md-dynamic-height md-stretch-tabs="always" md-border-bottom>
    <md-tab label="Details" >
      <md-content layout-padding>

         <md-input-container class="md-block">
            <label>Name</label>
            <input ng-model="$ctrl.port.name" name="name" type="text" ng-pattern="/^[0-9a-zA-Z]+$/" md-maxlength="255">
            <div ng-messages="$ctrl.formReference.name.$error" role="alert" multiple>
              <div ng-message="pattern" class="my-message">That doesn't look like a valid port name.</div>
              <div ng-message="md-maxlength" class="my-message">Too long port name.</div>
            </div>
        </md-input-container>

        <md-input-container class="md-block">
            <label>bind:vnic_type</label>
            <input ng-model="$ctrl.port.binding.vnic_type" name="vnic_type" type="text">
        </md-input-container>
        <md-input-container class="md-block">
            <label>Device ID</label>
            <input ng-model="$ctrl.port.device_id" name="device_id" type="text">
        </md-input-container>

        <!--<md-input-container class="md-block" >-->
        <md-autocomplete
              md-search-text="$ctrl.searchText"
              md-items="item in $ctrl.querySearch($ctrl.searchText)"
              md-item-text="item.display"
              md-selected-item="$ctrl.selectedItem"
              md-selected-item-change="$ctrl.selectedItemChange(item)"
              md-search-text-change="$ctrl.searchTextChange($ctrl.searchText)"
              md-min-length="0"
              md-floating-label="Device Owner" style="padding:0">
            <md-item-template>
              <span md-highlight-text="$ctrl.searchText" md-highlight-flags="^i">{{item.display}}</span>
            </md-item-template>
            <md-not-found ng-if="$ctrl.show_not_found">
              <span style="color:orangered">Warning: "{{$ctrl.searchText}}" saved with no pre-defined device owner found.</span>
            </md-not-found>

        </md-autocomplete>
        <!--</md-input-container>-->

        <md-input-container class="md-block">
          <md-checkbox ng-model="$ctrl.port.admin_state_up" aria-label="admin_state_up">
            Admin State UP
          </md-checkbox>

          <md-checkbox ng-model="$ctrl.port.port_security_enabled" aria-label="port_security_enabled">
            Port Security Enabled
          </md-checkbox>

        </md-input-container>

        <md-input-container class="md-block">
            <label>QoS Policy</label>
            <input ng-model="$ctrl.network.qos_policy" name="qos_policy" type="text" ng-pattern="/^[0-9a-f-]{36}$/">
            <div ng-messages="$ctrl.formReference.qos_policy.$error" role="alert" multiple>
              <div ng-message="pattern" class="my-message">That doesn't look like a valid uuid.</div>
            </div>
        </md-input-container>

      </md-content>
    </md-tab>

    <md-tab label="Additional" ng-if="$ctrl.additional">
      <md-content layout-padding>

        <md-input-container class="md-block" >
            <label>DHCP Agents</label>
            <md-chips ng-model="$ctrl.network.dhcp_agent_list"
                      placeholder="+ dhcp agent id"
                      readonly="false"
                      md-removeable="true"
                      md-max-chips="255">
            </md-chips>
        </md-input-container>

        <md-input-container class="md-block">
            <label>Tenant ID</label>
            <input ng-model="$ctrl.network.tenant_id" name="tenant_id" type="text" ng-pattern="/^[0-9a-f]{32}$/">
            <div ng-messages="$ctrl.formReference.tenant_id.$error" role="alert" multiple>
              <div ng-message="pattern" class="my-message">That doesn't look like a valid tenant id.</div>
            </div>
        </md-input-container>

      </md-content>
    </md-tab>

</md-tabs>