
<div class="modal-header">
    <h3 class="modal-title" id="modal-title">{{ title | translate }}</h3>
</div>
<div class="modal-body" id="modal-body">
    <uib-tabset active="active">
        <uib-tab index="$index + 1" ng-repeat="tab in tabs">
              <uib-tab-heading>
                 {{tab.title|translate}}
                 <span class="fa-required fa fa-asterisk" ng-if="tab.required"></span>
              </uib-tab-heading>
            <div class="form-group" ng-repeat="field in tab.fields">
                <label class="control-label" for="{{resource_type}}_{{field.id}}">{{ field.title | translate }}</label>
                <span class="fa-required fa fa-asterisk" ng-if="field.required"></span>
                <input ng-if="field.type=='text'||field.type=='number'" type="{{field.type}}" class="form-control"
                       name="{{resource_type}}_{{field.id}}" id="{{resource_type}}_{{field.id}}"
                       value="{{field.initial}}">
                <select ng-if="field.type=='select'" class="form-control"
                       name="{{resource_type}}_{{field.id}}" id="{{resource_type}}_{{field.id}}">
                    <option ng-repeat="option in field.options">{{option}}</option>
                </select>

                <div class="help-error"></div>
            </div>
        </uib-tab>
    </uib-tabset>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="ok()">{{ 'Save' | translate }}</button>
    <button class="btn btn-default" type="button" ng-click="cancel()">{{ 'Cancel' | translate }}</button>
</div>