<md-tabs md-dynamic-height md-stretch-tabs="always" md-border-bottom>
    <md-tab label="Details" >
        <md-content layout-padding>
            <md-input-container class="md-block" flex-gt-xs>
                <label>Instance UUID</label>
                <md-select ng-model="$ctrl.volumeattachment.instance_uuid" name="instance_uuid" required ng-disabled='true'>
                    <md-option ng-repeat="iuuid in instances" ng-value="iuuid.id">
                        {{iuuid.name}}
                    </md-option>
                </md-select>
                <div ng-messages="$ctrl.formReference.instance_uuid.$error" role="alert" multiple>
                    <div ng-message="required" class="my-message">You must supply an instance uuid.</div>
                </div>
            </md-input-container>

            <md-input-container class="md-block" flex-gt-xs>
                <label>Volume ID</label>
                <md-select ng-model="$ctrl.volumeattachment.volume_id" name="volume_id" required ng-disabled='true'>
                    <md-option ng-repeat="vol in volumes" ng-value="vol.id">
                        {{vol.name}}
                    </md-option>
                </md-select>
                <div ng-messages="$ctrl.formReference.volume_id.$error" role="alert" multiple>
                    <div ng-message="required" class="my-message">You must supply an volume id.</div>
                </div>
            </md-input-container>

            <md-input-container class="md-block" flex-gt-xs>
                <label>mountpoint</label>
                <input ng-model="$ctrl.volumeattachment.mountpoint" name="mountpoint" ng-pattern="/^/[0-9a-z/-]+$/" />
                <div ng-messages="$ctrl.formReference.mountpoint.$error" role="alert" multiple>
                  <div ng-message="pattern" class="my-message">Please input a valid device path.</div>
                </div>
            </md-input-container>

      </md-content>
    </md-tab>

</md-tabs>